<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.zju.isst"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".MainApplication" android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        <activity
            android:name=".ui.loading.LoadingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".ui.life.ArchiveDetailActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".ui.life.CampusActivityDetailActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".ui.life.RestaurantDetailActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".ui.usercenter.UserInfoActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".ui.contact.ContactDetailActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".ui.contact.ContactFilterActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|stateUnspecified" >
        </activity>
    </application>
    
    

</manifest>
